<% if obj.errors.any? %>
	<%= pluralize(obj.errors.count, "error") %>
	prohibited this student from being saved:
	<ul>
		<% obj.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>